

@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
/*
Color variables section
*/
:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
     
}

body
{
   
    line-height: 1.5;
    font-size: 16px;
    font-family:  "Kode Mono", monospace ;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}


/*
un-orderd list styling 
*/
ul
{
  list-style: none;
}


/*
this is the main section styling apart from the side panel 
*/
.sidesection
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    padding: 0 30px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.container 
{
    max-width: 1100px;
    width: 100%;
    margin: auto;
  
}

.row 
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}




/*
Start of side panel styling
*/
/*
this is the side panel styling 
*/
.asidePanel
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
   /* display: list-item;*/
}

.asidePanel .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;

}

.asidePanel .logo a 
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.asidePanel .logo a span
{
    /*font-family: 'Kode Mono',cursive;*/
    font-family: 'Clicker Script', cursive;
    font-family: 40px;
}

.asidePanel  .logo a::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var( --skin-color);
    bottom: 0;
    left: 0;
}


.asidePanel  .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var( --skin-color);
    top: 0;
    right: 0;
}



.asidePanel .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 200px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: flex;
   display: none; 
    align-items: center;
    justify-content: center; 
}

.asidePanel .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.asidePanel .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.asidePanel .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.asidePanel .nav
{
    margin-top: 50px;
}



/*This style is specific for all the lists under the div 
with the class called nav */
.asidePanel .nav li
{
    margin-bottom: 20px;
    display: block;
}


/*
this will affect all the links that are inside the list li inside the un-ordered ul list 
*/
.asidePanel .nav li a 
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.asidePanel .nav li a.active
{
    color: purple;
}


/*The following is not necessary but incase 
the number of list items continue */
.asidePanel .nav li a i 
{
    margin: 2px;
}
/**
end of side panel styling 
**/

.home
{
    min-width: 100vh;
    display: flex;
    color: var(--text-black-900);

}

.home .home-info
{
 flex: 0 0 60%;
 max-width: 60%;
}

h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span
{
   font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}


.home .home-img
{
    flex: 0 0 40%;
    max-width: 40% ;
    text-align: center;
    position: relative;
}

/* Home image*/
.home .home-img img
{
    height: 400px;
}


















.glassBackground {
    block-size: fit-content;
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.GlassBackGround {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 0.1px 8px;
    margin: 2px;
    display: inline-block;
}